<%= form_for (@property) do |f| %>
  <%= f.label :name, '物件名' %>
  <br>
  <%= f.text_field :name %>
  <br>
  <%= f.label :price, '賃料' %>
  <br>
  <%= f.text_field :price %>
  <br>
  <%= f.label :adress, '住所' %>
  <br>
  <%= f.text_field :adress %>
  <br>
  <%= f.label :age, '築年数' %>
  <br>
  <%= f.text_field :age %>
  <br>
  <%= f.label :content, '備考' %>
  <br>
  <%= f.text_area :content %>
  <br>
  <br>
  <br>
  <% count = 1 %>
  <%= f.fields_for :stations do |f| %>
    <h3>最寄り駅<%= count %></h3>
    <%= f.label :route_name, '路線名' %>
    <br>
    <%= f.text_field :route_name %>
    <br>
    <%= f.label :station_name, '駅名' %>
    <br>
    <%= f.text_field :station_name %>
    <br>
    <%= f.label :time, '徒歩分数' %>
    <br>
    <%= f.text_field :time %>
    <br>
    <% count += 1 %>
  <% end %>
  <%= f.submit("登録する") %>
  <br>
  <%=link_to'戻る',properties_path %>
<% end %>